doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        script(type="text/javascript", src="js/jquery.min.js")
        script(type="text/javascript", src="js/websocket.js")    
        script(type="text/javascript", src="bootstrap/bootstrap.min.js")
        link(href="bootstrap/bootstrap.min.css", rel="stylesheet")   
        title Boo it!
    body
        nav(class="navbar navbar-inverse navbar-fixed-top", role="navigation")            
            .container
                .col-md-5(style="float: none; margin: auto")
                    .navbar-header
                        a(class="navbar-brand", href="/friend")
                            span(class="glyphicon glyphicon-chevron-left")  
                    .navbar-header  
                        .navbar-brand    
                            span(id="usr_name", value=user_name.to_s)=user_name
                    div
        br
        br
        br
        .container
            content(id="usr_name" , value=user_name)= user_name
            .jumbotron
                .col-md-5(style="float: none; margin: auto", align="center")
                    h3
                        Tell
                        strong(id="fri_name" , value=friend_name)= friend_name
                    input(type="text" , id="boo" , name="boo", class="form-control")
                    br
                    input(type="button", onclick="booFunction()", value="Boo it!", class="btn btn-default")
                    content(id="debug")
                    br
                    br
                    .dialog(id="history_msg")                     
                        if history_msg
                            each m in history_msg
                                - side = (m.from == user_name) ? "right" : "left"
                                - bgcolor = (side == "right") ? "#1abc9c" : "#3498db"
                                div(align=side, style="color:" + bgcolor)= m.from + ": " + m.content
                        else
                            h3 No history
                    .dialog(id="msg")
