!!!5
%html
    %head
        %script{:type => "text/javascript",:src => "js/jquery.min.js"}
        %script{:type => "text/javascript",:src => "js/websocket.js"}
        %script{:type => "text/javascript",:src => "js/send.js"}     
        %script{:type => "text/javascript",:src => "bootstrap/bootstrap.min.js"}
        %link{:href => "bootstrap/bootstrap.min.css", :rel => "stylesheet"}   
        -#:javascript
        %title Boo it!
    %body
        .content{:id => "usr_name" , :value => "#{user_name.to_s}"}= user_name
        %a talk to friends:
        %strong{:id => "fri_name" , :value => "#{friend_name.to_s}"}= friend_name
        %input{:type => "text" , :id => "boo" , :name => "boo"}
        %input{:type => "button",:onclick => "booFunction()", :value => "Boo it!"}
        .content{:id => "debug"}
        .dialog{:id => "history_msg"}
            - JSON.parse(history_msg).each do |m|          
            %div{}= m['from'].to_s + ": " + m['log'].to_s
            - end unless @do_nothing
        .dialog{:id => "msg"}
