<!DOCTYPE html>
<html>
  <head>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'></script>
    <script>
        //
        // this script must be through login authentication server and sessionStorage
        //
	var testNum = 33;
	// this script uesd the jQuery technology
      $(document).ready(function(){
        function debug(str){ $("#debug").append("<p>"+str+"</p>"); };

        ws = new WebSocket("ws://127.0.0.1:8080");
        ws.onmessage = function(evt) {
	     var tmp = evt.data.split(",")
             if ((tmp[0] == "test" && tmp[1] == "test2") || (tmp[0] == "test2" && tmp[1] =="test")){
                 if(document.getElementById("uid").value == "test2" || document.getElementById("uid").value == "test"){
                     $("#msg").append("<p>"+evt.data+"</p>");
                 }
             }
             //$("#msg").append("<p>"+evt.data+"</p>");
        };
        ws.onclose = function() { debug("socket closed"); };
        ws.onopen = function() {
          debug("connected...");
          ws.send("hi");
          //ws.send("hello server,I am client!");
          //ws.send("sshello server,I am client!");
	  //ws.send(testNum);
        };
      });
    </script>
    <script>
        function booFunction() {
            //alert(document.getElementById("boo").value);
	    //alert("ddd");
            // temp use string instead of json
            ws.send(document.getElementById("uid").value + "," + document.getElementById("did").value + "," + document.getElementById("boo").value);
        }
   </script>
  </head>
  <body>
    Hello! <%= user_name %>
    talk to User: <input type="text" id="did" name="did"><br/>
    Boo: <input type="text" id="boo" name="boo">
    <input type="button" onclick="booFunction()" value="boo it!" /> 
    <div id="debug"></div>
    <div id="msg"></div>
  </body>
</html>

