doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Friends
        script(type="text/javascript", src="js/jquery.min.js")
        script(type="text/javascript", src="js/to_client.js")
        script(type="text/javascript", src="bootstrap/bootstrap.min.js")
        link(href="bootstrap/bootstrap.min.css", rel="stylesheet")
    body
        nav(class="navbar navbar-inverse navbar-fixed-top", role="navigation")
            .container
                .navbar-header
                    a(class="navbar-brand", href="/logout")
                        span(class="glyphicon glyphicon-chevron-left")
                .navbar-brand    
                    span Your Friends 
        br
        br 
        br
        .container
            .col-md-5(style="float: none; margin: auto", align="center")
                h1= 'Hi, ' + user_name + '!'
                p(id="session_name") session[tmp].inspect
                p 
                    h3 Please strong DOUBLE CLICK to choose  a friend
                table(class="table table-hover")                
                    - each f in friends_list
                        tr(id=f, align="center")
                            td=f
                
                form(action="chat", method="post", id="form")
                    input(type="hidden", name="chat_f", id="chat_f", value="123")
                    button(type="submit") submit
