
body{
	background-color: #181818;	/* commented line 520 in semantic.css to avert override */
}

.left{
	top: 0;
	left: 0;	
	width: 40%;
	height: 100%;
	position: fixed;
	background-color: black;
	text-align: center;
}

.right{
	top: 3%;
	left: 50%;
	position: fixed;
}

#logo{
	width: 420px;
	height: 350px;
}

#icon{
	width: 118px;
	height: 120px;
}

.head{	
	position: fixed;
	left: 38%;	
	height: 50px;
	width: 50px;
	border-radius: 100%;
	border-style: solid;	
	border-color: #330099;

	&#sirius{
		background-image: url("sirius.png");
	}
	&#veck{
		background-image: url("veck.jpg");		
	}
}

.line{
	position: fixed;
	left: 35%;
	height: 30px;
	width: 15px;
	color: white;
}

#sirius{
	top: 40%;
	background-size: 40px;
}

#veck{	
	top: 50%;
	background-size: 40px;	
}

section{
	color: white;
	font-size: 20px;
	font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

footer {
	color: white;
	position: relative;
	margin-top: 150px;
}